#continer  {
    display: flex ; 
    flex-direction: column ; 
    width: 50vw ; 
}


.header{
    font-size: 3em ; 
}
.data {
    display: grid ; 
    grid-template-columns: 1fr 1fr 1fr ;  
  font-size: 1em ;
  text-align: center ;  
  align-items: center ; 
    
}
.addData{
    width: 33vw  ;    
    display: grid ; 
    grid-template-columns: 1fr 1fr  ;  
  font-size: 1em ;
  text-align: center ;  
  align-items: center ; 
 
}